$breakpoints: (
	small: 38em,
	medium: 50em,
	large: 62em,
);

$themes: (
	dark: (
		primary: (
			200: hsl(225 51% 76%),
			300: hsl(225 21% 49%),
			400: hsl(224 28% 35%),
			500: hsl(222 26% 31%),
			600: hsl(223 31% 20%),
			700: hsl(224 36% 15%),
		),
		accent: (
			300: hsl(6 93% 67%),
			400: hsl(6 63% 50%),
			500: hsl(6 70% 34%),
		),
		neutral: (
			100: hsl(0 0% 100%),
			200: hsl(60 100% 100%),
			300: hsl(30 25% 89%),
			400: hsl(28 16% 65%),
			600: hsl(221 14% 31%),
		),
	),
	light: (
		primary: (
			300: hsl(185 40% 56%),
			400: hsl(185 42% 37%),
			500: hsl(185 58% 25%),
		),
		accent: (
			300: hsl(25 100% 61%),
			400: hsl(25 98% 40%),
			500: hsl(25 99% 27%),
		),
		neutral: (
			100: hsl(0 0% 100%),
			200: hsl(0 0% 93%),
			300: hsl(0 0% 90%),
			400: hsl(0 5% 81%),
			500: hsl(45 7% 89%),
			600: hsl(35 11% 61%),
			700: hsl(60 10% 19%),
		),
	),
	fancy: (
		primary: (
			100: hsl(285 91% 52%),
			200: hsl(280 56% 44%),
			300: hsl(268 54% 44%),
			400: hsl(290 70% 36%),
			500: hsl(281 89% 26%),
			600: hsl(268 47% 21%),
			700: hsl(268 71% 12%),
			800: hsl(268 75% 9%),
		),
		secondary: (
			400: hsl(52 100% 62%),
		),
		accent: (
			300: hsl(176 100% 79%),
			400: hsl(177 92% 70%),
			500: hsl(176 100% 44%),
		),
		neutral: (
			100: hsl(0 0% 100%),
			800: hsl(198 20% 13%),
		),
	),
);

$font-sizes: (
	small: (
		200: 1.2rem,
		400: 2rem,
		500: 3.2rem,
		600: 3.2rem,
		700: 4rem,
	),
	medium: (
		400: 2.8rem,
		600: 4rem,
		700: 5.6rem,
	),
);

$font-weights: (
	700: 700,
);

$border-radius: (
	small: (
		200: 0.5rem,
		300: 1rem,
		900: 100vmax,
	),
	medium: (
		200: 1rem,
	),
);
